# IGNORE FILE
!**.ltx
# Vivado work folders
**/*.cache
**/*.ip_user_files
**/*.runs/*
!**/*.runs/impl*
**/*.runs/impl*/*
!**/*.runs/impl*/*.ltx
**/*.sim

# Log files
*.jou
*.log

# Office Temp Files
~$*.*



